.contenido-energetico {
    display: block;
    margin-bottom: 28px;
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: 0;

    @include desktop {
        margin: 170px 0 0 -230px;
    }

    &__image--fresa7 {
        display: block;
        width: 90px;
        top: 1150px;
        left: -15px;
        position: absolute;
        transform: rotate(10deg);
        z-index: 1;


        @include desktop {
            display: block;
            width: 155px;
            top: 72%;
            left: -20px;
        }
       
    }

    &__content {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px;
        background-color: #fafafa;
        padding: 12px;
        z-index: 1;
    }

    &__description p {
        margin: 17px 0;
        text-align: right;
        color: $color-grape-1;
        font-weight: 300;
        @extend .text-style-11;
    }

    &__values p {
        display: flex;
        justify-self: start;
        text-align: left;
        color: $color-grape-1;
        font-weight: 300;
        @extend .text-style-4;
    }
}