.familia-vitalinea {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 504px;
    padding: 20px;
    position: relative;
    background-image: url("../../assets/background/bg-familia-vitalinea.png");
    z-index: 0;
    overflow: hidden;

    @include desktop {
        display: none;
    }
   

    &__title {
        margin-top: 0;
        text-align: center;
    }

    &__image {
        position: absolute;


        &.image--1 {
            width: 178px;
            height: 106px;
            bottom: 120px;
           
        }

        &.image--2 {
            width: 114px;
            height: 134px;
            bottom: 120px;
            left: 203px;
        }

        &.image--3 {
            height: 207px;
            bottom: 120px;
            right: -90px;
        }
    }

    &__span {
        display: inline-block;
        margin:  290px 0 101px;
        padding: 24px 0;
        @extend .text-style-9;

        &.span--1 {
            margin: 288px 70px 0 51px;
        }

        &.span--3 {
          position: absolute;
          right: -68px;

        }
    }
}

.familia-vitalinea__desktop {
    display: none;

    @include desktop {
        display: block;
        height: 719px;
        padding: 95px 131px 80px;
        background-image: url("../../assets/background/bg-familia-vitalinea.png");
        z-index: 0;
    }

    & .desktop__title {
        text-align: center;
        font-size: $--lg;
    }

    & .desktop__grid {
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr;
            place-items: end center;
            text-align: center;
    }

    & .desktop__text {
        color: $color-grape-1;
    }
}