@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import "./vars";

* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

a {
    text-decoration: none;
    @extend .text-style-6;
}

a:hover {
    color: $color-primary;
}

ul {
    margin: 0;
}

li {
  margin: 0;
}

body {
    margin: 0;
    font-family: $font-family-1;
}

h1 {
    margin: 12px 0;
}

h2 {
    @extend .text-style-8;
}

h3 {
    margin: 20px 0 10px;
}

h4 {
    @extend .text-style-7;
}

p {
  @extend .text-style-4;
}

button {
    margin: 10px 0;
    @extend .text-style-4;
}


.text-style-1 {
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-black;
}

.text-style-3 {
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-grape-1;
}

.text-style-4 {
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}


.text-style-6 {
    font-size: 16px;
    font-weight:400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-black;
}


.text-style-7 {
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.41px;
    color: $color-primary;
}

.text-style-8 {
    font-size: 22px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-grape-1;
}

.text-style-9 {
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-grape-1;
}

.text-style-10 {
    font-size: 11px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-black;
}

.text-style-11 {
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}



.button--primary {
    height: 40px;
    padding: 10px 75px 11px 70px;
    background-color: $color-grape-1;
    border: 0;
    color: $color-white;
}

.button--circle {
    width:50px;
    height:50px;
    border-radius: 50%;
    border: none;
    background-color: $color-grape-1;
}

@mixin desktop {
    @media only screen and (min-width: 980px) and (max-width: 1920px) {
      @content;
    }
}


